.badge{
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}
.dot{
    background-color: tomato;
    display: flex;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 5px;
    top: -15px;

}